@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

:root {
  --darkColor: #272a31;
  --lightDarkColor: #3c3f46;
  --primaryColor: #ec5242;
  --grayColor: #d3d3d3;
  --lightGrayColor: #f9f9f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app-moto {
  font-family: 'Lato', 'COCOGOOSE', sans-serif;
  color: var(--darkColor);
  font-weight: 900;
}

.app-sub-moto {
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 15px;
  text-align: end;
}

.social-link-list {
  display: block;
  float: right;
}

.social-link-list img {
  width: 15px;
  height: 15px;
}

.home-section {
  background-color: var(--grayColor);
  width: 100%;
  padding: 0 0 40px;
}

.home-section-overlay {
  background: var(--grayColor);
  width: 100%;
  padding: 20px 20px 40px;
}

.search-task-card {
  background: #fff;
  text-align: center;
  padding: 60px 30px 40px;
  border-radius: 5px;
}

.search-task-form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.search-task-form-input {
  height: 30px;
  font-size: 18px;
  padding: 20px 15px;
  border: 1px solid var(--grayColor);
  font-family: 'Lato', sans-serif;
  flex: 1;
}

.search-task-form-btn {
  background: var(--primaryColor);
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  border: none;
  height: 100%;
  padding: 13px 20px;
}

.home-section-info {
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-evenly;
}

.home-section-info-container {
  background-color: var(--grayColor);
  padding: 20px;
  color: var(--darkColor);
  font-family: 'Lato', sans-serif;
}

.home-section-info-container h2 {
  text-transform: capitalize;
  color: var(--primaryColor);
}

.home-section-info-container p {
  margin-top: 10px;
  font-size: 16px;
}

.home-section-features {
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home-section-features li {
  display: flex;
  gap: 20px;
  align-items: center;
}

.home-section-features li img {
  color: var(--primaryColor);
}

.recent-works {
  background-color: var(--darkColor);
  background-image: url('../assets/images/pattern_bg.png');
  padding: 40px 20px;
  color: #fff;
}

.text-center {
  text-align: center;
}

.underline-center::after {
  content: '';
  display: block;
  width: 40px;
  border-bottom: 5px solid var(--primaryColor);
  margin: 10px auto 0;
}

.recent-works-container {
  margin-top: 30px;
}

.work {
  background-color: rgba(180, 180, 180, 0.1);
  padding: 20px;

  /* background-image: url('../assets/images/pattern_bg.png'); */
}

.work-title {
  font-family: 'Lato',sans-serif;
  color: var(--primaryColor);
  font-size: 16px;
  font-weight: bold;
}

.work-btn {
  display: block;
  margin: 40px auto 20px;
  background: var(--primaryColor);
  color: #fff;
  padding: 20px 50px;
  border: none;
}
