@import url('https://fonts.cdnfonts.com/css/lato');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

:root {
  --darkColor: #272a31;
  --lightDarkColor: #3c3f46;
  --primaryColor: #ec5242;
  --grayColor: #d3d3d3;
  --lightGrayColor: #f9f9f9;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.close-menu-icon {
  display: none;
}

.app-moto {
  font-family: 'Lato', 'COCOGOOSE', sans-serif;
  color: var(--primaryColor);
  font-weight: 400;
  font-size: 20px;
}

.app-sub-moto {
  font-family: 'Lato', sans-serif;
  color: var(--primaryColor);
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 45px;
  font-weight: 700;
  mix-blend-mode: multiply;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 15px;
  text-align: end;
}

.social-link-list {
  display: block;
  float: right;
}

.social-link-list img {
  width: 15px;
  height: 15px;
}

.home-section {
  background-color: var(--grayColor);
  width: 100%;
  height: 100vh;
  padding: 0 0 40px;
}

.home-section-overlay {
  background: var(--grayColor);
  width: 100%;
  height: 100vh;
  padding: 20px 20px 40px;
}

.search-task-card {
  background: transparent;
  padding: 40px 20px 40px;
  border-radius: 5px;
}

.search-task-form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
}

.search-task-form-input {
  height: 30px;
  font-size: 18px;
  padding: 20px 15px;
  border: 1px solid var(--grayColor);
  font-family: 'Lato', sans-serif;
  flex: 1;
}

.search-task-form-btn {
  background: var(--primaryColor);
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  border: none;
  height: 100%;
  padding: 13px 20px;
}
.home-section-info-card {
  border: 2px solid white;
  color: var(--darkColor);
  font-family: 'Lato', sans-serif;
  padding: 20px 15px;
  margin-top: 20px;
}
.home-section-info-card-second {
  margin-top: 50px;
  color: var(--darkColor);
  font-family: 'COCOGOOSE', sans-serif;
}
.home-section-info-card-second p {
  font-family: 'Lato', sans-serif;
  margin-top: 5px;
}
.home-section-info {
  margin-top: 20px;
  background-color: #fff;
  display: flex;
  align-items: center;
  gap: 40px;
  justify-content: space-evenly;
}

.home-section-info-container {
  background-color: var(--grayColor);
  padding: 20px;
  color: var(--darkColor);
  font-family: 'Lato', sans-serif;
}

.home-section-info-container h2 {
  text-transform: capitalize;
  color: var(--primaryColor);
}

.home-section-info-container p {
  margin-top: 10px;
  font-size: 16px;
}

.home-section-features {
  list-style: none;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.home-section-features li {
  display: flex;
  gap: 20px;
  align-items: center;
}

.home-section-features li img {
  color: var(--primaryColor);
}

.recent-works {
  background-color: var(--darkColor);
  background-image: url('../assets/images/pattern_bg.png');
  padding: 40px 20px;
  color: #fff;
}

.text-center {
  text-align: center;
}

.underline-center::after {
  content: '';
  display: block;
  width: 40px;
  border-bottom: 5px solid var(--primaryColor);
  margin: 10px auto 0;
}

.recent-works-container {
  margin-top: 30px;
}

.work {
  background-color: rgba(180, 180, 180, 0.1);
  padding: 20px;

  /* background-image: url('../assets/images/pattern_bg.png'); */
}

.work-title {
  font-family: 'Lato', sans-serif;
  color: var(--primaryColor);
  font-weight: 900;
}

.work-btn {
  display: block;
  margin: 40px auto 20px;
  background: var(--primaryColor);
  color: #fff;
  padding: 20px 50px;
  border: none;
}

.testimonial {
  background-color: #fff;
  padding: 30px 20px;
}

.testimonials-container {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
}

.testimonial-title {
  font-family: 'Lato', sans-serif;
  text-align: center;
  color: var(--darkColor);
  font-weight: 900;
}

.testimonial-card {
  font-family: 'Lato', sans-serif;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 10px;
}

.testimonial-card-img {
  background-image: url('../assets/images/tasker-desktop.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.testimonial-name {
  color: var(--darkColor);
  font-weight: 600;
  text-transform: capitalize;
}

.testimonial-task {
  color: var(--primaryColor);
  margin-top: 8px;
}

.testimonial-task::after {
  content: '';
  display: block;
  width: 30px;
  margin-top: 15px;
  border-bottom: 2px solid var(--grayColor);
}

.testimonial-comment {
  color: var(--darkColor);
  margin-top: 15px;
}

.testimonial-more-btn {
  margin: 60px 0 20px;
  padding: 20px 20px;
  display: flex;
  gap: 10px;
  width: 100%;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grayColor);
  background-color: #fff;
  color: var(--darkColor);
}

.partners {
  font-family: 'Lato', sans-serif;
  background-color: var(--darkColor);
  opacity: 0.9;
  padding: 40px 60px 80px;
  color: var(--grayColor);
}

.partners-title {
  text-align: center;
  font-weight: 900;
}

.partners-list {
  margin-top: 40px;
  list-style: none;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.partners-list li a {
  text-decoration: none;
}

.footer {
  font-family: 'Lato', sans-serif;
  background-color: #fff;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-right {
  font-weight: bold;
  color: var(--darkColor);
  text-transform: capitalize;
}

.awards {
  padding: 60px 20px;
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

.awards-title {
  font-weight: 900;
}

.award-desc {
  margin-top: 30px;
  font-weight: 300;
}

.awards-list {
  margin-top: 30px;
  list-style: none;
}

.awards-list li:nth-child(1) {
  background-image: url('../assets/images/award1.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.awards-list li:nth-child(2) {
  background-image: url('../assets/images/award2.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.award-list-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--primaryColor);
  opacity: 0.7;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.about-us p {
  font-family: 'Lato', sans-serif;
  text-align: left;
  margin-top: 25px;
  font-weight: 300;
}
